Repository Nexters/draw-mobile, pull requests merged in 2023-07, with the labels that each got.

#6 [Feat/#5] 웹뷰 띄우기
  Draw-iOS/.gitignore
  Draw-iOS/Draw/Draw.xcodeproj/project.pbxproj
  Draw-iOS/Draw/Draw.xcodeproj/project.xcworkspace/xcuserdata/moyoung.xcuserdatad/UserInterfaceState.xcuserstate
  Draw-iOS/Draw/Draw.xcodeproj/xcuserdata/moyoung.xcuserdatad/xcschemes/xcschememanagement.plist
  Draw-iOS/Draw/Draw/Application/AppDIContainer.swift
  Draw-iOS/Draw/Draw/Application/AppFlowCoordinator.swift
  Draw-iOS/Draw/Draw/Application/SceneDelegate.swift
  Draw-iOS/Draw/Draw/Assets.xcassets/IconFeed.imageset/Contents.json
  Draw-iOS/Draw/Draw/Assets.xcassets/IconFeed.imageset/Group 80410.svg
  Draw-iOS/Draw/Draw/Assets.xcassets/IconMy.imageset/Contents.json
  Draw-iOS/Draw/Draw/Assets.xcassets/IconMy.imageset/Subtract (2).svg
  Draw-iOS/Draw/Draw/Assets.xcassets/ImgPlus.imageset/Contents.json
  Draw-iOS/Draw/Draw/Assets.xcassets/ImgPlus.imageset/Group 80560.svg
  Draw-iOS/Draw/Draw/Assets.xcassets/ImgTabBar.imageset/Contents.json
  Draw-iOS/Draw/Draw/Assets.xcassets/ImgTabBar.imageset/Vector.svg
  Draw-iOS/Draw/Draw/Presentation/Home/HomeDIContainer.swift
  Draw-iOS/Draw/Draw/Presentation/Home/HomeViewController.swift
  Draw-iOS/Draw/Draw/Presentation/Question/QuestionDIContainer.swift
  Draw-iOS/Draw/Draw/Presentation/Question/QuestionViewController.swift
  Draw-iOS/Draw/Draw/Presentation/TabBar/Flows/TabBarFlowCoordinator.swift
  Draw-iOS/Draw/Draw/Presentation/TabBar/TabBarDIContainer.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Bases/BaseCollectionReusableView.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Bases/BaseCollectionViewCell.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Bases/BaseTableViewCell.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Bases/BaseView.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Bases/BaseViewController.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/DrawTabBarController.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/Array+Ext.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/Date+Ext.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/DateManager.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/Notification+Name+Ext.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/Rx+Ext.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/UIBezierPath+Extension.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/UIColor+Ext.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/UIImage+Ext.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/UILabel+Ext.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/UINavigationController+Ext.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/UIStackView+Ext.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/UIView+Extensions.swift
  Draw-iOS/Draw/Draw/Presentation/Utils/Extensions/UIViewController+Ext.swift
  Draw-iOS/Draw/DrawTests/DrawTests.swift
Labels: iOS, size/xl, Feat, youngmo

#11 Feat/#2 feed aos
  Draw-AOS/.gitignore
  Draw-AOS/.idea/.gitignore
  Draw-AOS/app/build.gradle
  Draw-AOS/app/src/main/AndroidManifest.xml
  Draw-AOS/app/src/main/java/org/nexters/draw/DrawWebViewClient.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/FeedFragment.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/JavascriptInterface.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/MainActivity.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/MainViewModel.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/MyPageFragment.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/OnBoardingActivity.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/UrlManager.kt
  Draw-AOS/app/src/main/res/layout/activity_onboarding.xml
  Draw-AOS/app/src/main/res/layout/fragment_my_page.xml
  Draw-AOS/app/src/main/res/values/themes.xml
Labels: AOS, Feat, nayoung, size/m

#15 [Feat/#14] showBottomBar 로직 구현
  Draw-iOS/Draw-iOS.xcodeproj/project.pbxproj
  Draw-iOS/Draw-iOS/Core/NotificationCenter/NotificationCenter+Extension.swift
  Draw-iOS/Draw-iOS/Core/WebKit/WebMessageHandler.swift
  Draw-iOS/Draw-iOS/Core/WebKit/WebMessageType.swift
  Draw-iOS/Draw-iOS/Core/WebKit/WebView.swift
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabStore.swift
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabView.swift
  Draw-iOS/Draw-iOS/Shared/Extension/Bundle+Extension.swift
  Draw-iOS/Draw-iOS/Shared/Extension/Url+Extension.swift
Labels: iOS, Feat, youngmo, size/m

#19 [feat] app setting 및 splash 화면 적용
  Draw-AOS/app/build.gradle
  Draw-AOS/app/src/main/AndroidManifest.xml
  Draw-AOS/app/src/main/ic_draw-playstore.png
  Draw-AOS/app/src/main/java/org/nexters/draw/OnBoardingActivity.kt
  Draw-AOS/app/src/main/res/drawable/ic_draw.xml
  Draw-AOS/app/src/main/res/drawable/ic_draw_foreground.xml
  Draw-AOS/app/src/main/res/layout/activity_onboarding.xml
  Draw-AOS/app/src/main/res/mipmap-anydpi-v26/ic_draw.xml
  Draw-AOS/app/src/main/res/mipmap-anydpi-v26/ic_draw_round.xml
  Draw-AOS/app/src/main/res/mipmap-hdpi/ic_draw.png
  Draw-AOS/app/src/main/res/mipmap-hdpi/ic_draw_round.png
  Draw-AOS/app/src/main/res/mipmap-mdpi/ic_draw.png
  Draw-AOS/app/src/main/res/mipmap-mdpi/ic_draw_round.png
  Draw-AOS/app/src/main/res/mipmap-xhdpi/ic_draw.png
  Draw-AOS/app/src/main/res/mipmap-xhdpi/ic_draw_round.png
  Draw-AOS/app/src/main/res/mipmap-xxhdpi/ic_draw.png
  Draw-AOS/app/src/main/res/mipmap-xxhdpi/ic_draw_round.png
  Draw-AOS/app/src/main/res/mipmap-xxxhdpi/ic_draw.png
  Draw-AOS/app/src/main/res/mipmap-xxxhdpi/ic_draw_round.png
  Draw-AOS/app/src/main/res/values-v31/themes.xml
  Draw-AOS/app/src/main/res/values/ic_draw_background.xml
  Draw-AOS/app/src/main/res/values/strings.xml
  Draw-AOS/app/src/main/res/values/themes.xml
Labels: AOS, Feat, nayoung, size/m

#21 [feat] shareSheet 구현
  Draw-AOS/app/src/main/java/org/nexters/draw/FeedFragment.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/JavascriptInterface.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/MyPageFragment.kt
Labels: AOS, Feat, nayoung, size/s

#17 [Feat/#16] share sheet UI 구현
  Draw-iOS/Draw-iOS.xcodeproj/project.pbxproj
  Draw-iOS/Draw-iOS/Core/UIKit/ActivityViewController.swift
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabStore.swift
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabView.swift
Labels: iOS, Feat, youngmo, size/s
