Repository Nexters/draw-mobile, pull requests merged in 2023-08, with the labels that each got.

#24 [Feat/#23] FCM 세팅
  Draw-iOS/Draw-iOS.xcodeproj/project.pbxproj
  Draw-iOS/Draw-iOS.xcodeproj/xcuserdata/moyoung.xcuserdatad/xcschemes/xcschememanagement.plist
  Draw-iOS/Draw-iOS/Application/AppDelegate.swift
  Draw-iOS/Draw-iOS/Application/RootApp.swift
  Draw-iOS/Draw-iOS/Core/WebKit/WebMessageHandler.swift
  Draw-iOS/Draw-iOS/Core/WebKit/WebMessageType.swift
  Draw-iOS/Draw-iOS/Core/WebKit/WebView.swift
  Draw-iOS/Draw-iOS/Draw-iOS.entitlements
  Draw-iOS/Draw-iOS/Feature/ContentController.swift
  Draw-iOS/Draw-iOS/Feature/Feed/FeedView.swift
  Draw-iOS/Draw-iOS/Info.plist
Labels: iOS, Feat, youngmo, size/m

#29 [feat] fcm sdk 구현
  Draw-AOS/app/build.gradle
  Draw-AOS/app/google-services.json
  Draw-AOS/app/src/main/AndroidManifest.xml
  Draw-AOS/app/src/main/java/org/nexters/draw/DrawFirebaseMessagingService.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/drawableToBitmap.kt
  Draw-AOS/build.gradle
Labels: AOS, Feat, nayoung, size/m

#28 [Feat/#27] 싱글 Web View로 변경
  Draw-iOS/Draw-iOS.xcodeproj/project.pbxproj
  Draw-iOS/Draw-iOS/Core/WebKit/WebView.swift
  Draw-iOS/Draw-iOS/Domain/Tab/MainScene.swift
  Draw-iOS/Draw-iOS/Domain/Web/WebMessageHandler.swift
  Draw-iOS/Draw-iOS/Domain/Web/WebMessageReceiveType.swift
  Draw-iOS/Draw-iOS/Domain/Web/WebMessageSendType.swift
  Draw-iOS/Draw-iOS/Domain/Web/WebPathType.swift
  Draw-iOS/Draw-iOS/Domain/Web/WebView.swift
  Draw-iOS/Draw-iOS/Feature/Feed/FeedView.swift
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabStore.swift
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabView.swift
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/100.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/1024.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/114.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/120.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/128.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/144.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/152.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/16.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/167.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/172.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/180.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/196.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/20.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/216.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/256.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/29.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/32.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/40.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/48.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/50.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/512.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/55.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/57.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/58.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/60.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/64.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/66.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/72.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/76.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/80.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/87.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/88.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/92.png
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: iOS, Feat, youngmo, size/l

#32 [feat] single webview 구현
  Draw-AOS/app/src/main/AndroidManifest.xml
  Draw-AOS/app/src/main/java/org/nexters/draw/DrawFirebaseMessagingService.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/FeedFragment.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/MainActivity.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/MainViewModel.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/MyPageFragment.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/NewQuestionActivity.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/OnBoardingActivity.kt
  Draw-AOS/app/src/main/res/layout/activity_main.xml
  Draw-AOS/app/src/main/res/layout/activity_new_question.xml
  Draw-AOS/app/src/main/res/layout/activity_onboarding.xml
  Draw-AOS/app/src/main/res/layout/fragment_feed.xml
  Draw-AOS/app/src/main/res/layout/fragment_my_page.xml
  Draw-AOS/app/src/main/res/navigation/nav_graph.xml
Labels: AOS, Feat, nayoung

#35 [Feat/#34] Push 알림 URL 설정
  Draw-iOS/Draw-iOS.xcodeproj/project.pbxproj
  Draw-iOS/Draw-iOS/Application/AppDelegate.swift
  Draw-iOS/Draw-iOS/Core/NotificationCenter/NotificationCenter+Extension.swift
  Draw-iOS/Draw-iOS/Domain/Web/WebMessageHandler.swift
  Draw-iOS/Draw-iOS/Feature/ContentController.swift
  Draw-iOS/Draw-iOS/Feature/Feed/FeedStore.swift
  Draw-iOS/Draw-iOS/Feature/Feed/FeedView.swift
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabStore.swift
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabView.swift
  Draw-iOS/Draw-iOS/Feature/MyPage/MyPageStore.swift
  Draw-iOS/Draw-iOS/Feature/MyPage/MyPageView.swift
  Draw-iOS/Draw-iOS/Feature/Question/QuestionView.swift
  Draw-iOS/Draw-iOS/Feature/ShareBottomSheet/URLSharingStore.swift
  Draw-iOS/Draw-iOS/Feature/ShareBottomSheet/URLSharingView.swift
  Draw-iOS/Draw-iOS/Info.plist
Labels: iOS, Feat, youngmo, size/m

#37 [feat] app link 구현
  Draw-AOS/app/build.gradle
  Draw-AOS/app/src/main/AndroidManifest.xml
  Draw-AOS/app/src/main/java/org/nexters/draw/MainActivity.kt
Labels: AOS, Feat, nayoung

#41 [Feat/#36] dynamic link 구현
  Draw-iOS/Draw-iOS.xcodeproj/project.pbxproj
  Draw-iOS/Draw-iOS.xcodeproj/xcuserdata/moyoung.xcuserdatad/xcschemes/xcschememanagement.plist
  Draw-iOS/Draw-iOS/Application/AppDelegate.swift
  Draw-iOS/Draw-iOS/Application/RootApp.swift
  Draw-iOS/Draw-iOS/Application/RootStore.swift
  Draw-iOS/Draw-iOS/Application/RootView.swift
  Draw-iOS/Draw-iOS/Core/NotificationCenter/NotificationCenter+Extension.swift
  Draw-iOS/Draw-iOS/Domain/Web/WebMessageSendType.swift
  Draw-iOS/Draw-iOS/Domain/Web/WebView.swift
  Draw-iOS/Draw-iOS/Draw-iOS.entitlements
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabStore.swift
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabView.swift
  Draw-iOS/Draw-iOS/Feature/ShareBottomSheet/URLSharingStore.swift
  Draw-iOS/Draw-iOS/Info.plist
  Draw-iOS/Draw-iOS/Shared/Extension/Url+Extension.swift
Labels: iOS, Feat, youngmo, size/m

#44 [feat] fcm 토큰 전송
  Draw-AOS/app/src/main/AndroidManifest.xml
  Draw-AOS/app/src/main/java/org/nexters/draw/DrawFirebaseMessagingService.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/DrawWebViewClient.kt
  Draw-AOS/app/src/main/java/org/nexters/draw/MainActivity.kt
  Draw-AOS/app/src/main/res/values/themes.xml
Labels: AOS, Feat, nayoung

#46 [Bugfix/#43] 1.0.0 버전 리젝 대응
  Draw-iOS/Draw-iOS.xcodeproj/project.pbxproj
  Draw-iOS/Draw-iOS/Application/AppDelegate.swift
  Draw-iOS/Draw-iOS/Core/NotificationCenter/NotificationCenter+Extension.swift
  Draw-iOS/Draw-iOS/Core/NotificationCenter/NotificationCenterManager.swift
  Draw-iOS/Draw-iOS/Core/NotificationCenter/NotificationKey.swift
  Draw-iOS/Draw-iOS/Core/UserDefault/UserDefaultKey.swift
  Draw-iOS/Draw-iOS/Core/UserDefault/UserDefaultManager.swift
  Draw-iOS/Draw-iOS/Domain/Web/WebView.swift
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabStore.swift
  Draw-iOS/Draw-iOS/Feature/MainTab/MainTabView.swift
  Draw-iOS/Draw-iOS/Info.plist
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/ImgFeedInactive.imageset/Contents.json
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/ImgFeedInactive.imageset/feed (1).svg
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/ImgMyPageInactive.imageset/Contents.json
  Draw-iOS/Draw-iOS/Resources/Assets.xcassets/ImgMyPageInactive.imageset/my.svg
Labels: size/m
